<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'update-status:index' %}">Coffee Break</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right;">
        <!-- LINK MENUJU Status, Profile, Friends, stats -->
        <li><a href="{% url 'update-status:index' %}">Status</a></li>
        <li><a href="{% url 'halaman-profile:index' %}">Profile</a></li>
        <li><a href="{% url 'add-friend:index' %}">Friends</a></li>
        <li><a href="{% url 'Dashboard:index' %}">Stats</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>