{% extends "layout/base.html" %}
{% block content %}
{% load staticfiles %}
<section name="input-friend" id="input-friend">
    <div class="container">
        <form id="form" method="POST" action="{% url 'add-friend:add' %}">
            <h1 class="title-form">Add Friend</h1>
            {% csrf_token %}
            {{ addfriend_form }}
            <p></p>
            <button id="submit" type="submit" class="btn btn-lg default" style="right">Submit</button>
            <br/>
        </form>
    </div>
</section>
<section name="friend-list" id="friend-list">
    <div class="container">
        <h1 class="title-list">List Friend</h1>
        <table class="tabel">
            {% if addfriend %}
                {% for i in addfriend %}
                    <tbody>
                        <tr>
                            <td class="add-name">{{i.name}}</td>
                            <td class="add-url"><a href="{{i.url}}"><center>{{i.url}}</center></a></td>
                            <td class="add-date">Added {{i.created_date}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                {% else %}
                <div class="alert alert-danger text-center">
                    <strong>Maaf!</strong> Anda Belum Memiliki Teman
                </div>
                {% endif %}
        </table>
    </div>
</section>
{% endblock %}
