body{
  margin-top: 70px;
  background-color: #87a6c9;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 200px;
}

#input-update-status form{
  margin: 10px auto;
  position: relative;
  z-index: 1;
  background: #00DD6E -webkit-gradient(linear, left top, left bottom, from(#00B8DD), to(#00DD6E)) no-repeat;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 35px 40px;
  box-sizing: border-box;
  width: 500px;
  height: 260px;

}
#input-update-status form > h1{
  color: #2C3E50;
  margin-top: -5px;
  margin-bottom: 20px;
}
#post{
  background-color: #98ff98;
  color: #000000;
  font-weight: bold;
  font-family: "Helvetica"
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 10px;
  width: 90px;
  height: 40px;
  margin-bottom: 20px;
}

.all-status{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.show-status{
  width: 40%;
}
.status-content{
  margin-top: 20;
  background: #fff;
  padding: 0, 10px;
  position: relative;
  z-index: 15;
  font-size: 130%;
}
.status-date-added{
  opacity: 0.5;
  font-size: 80%;
  margin-bottom: 60px;
}

#icon{
    border-radius: 50%;
}

footer p{
  text-align: center;
  padding-top: 10px;
}

@media only screen and (max-width: 480px) {
  #input-update-status form {
    margin: 10px auto;
    position: relative;
    z-index: 1;
    background: #00DD6E -webkit-gradient(linear, left top, left bottom, from(#00B8DD), to(#00DD6E)) no-repeat;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 40px 30px;
    box-sizing: border-box;
  }
}
