{% extends "layout/base.html" %}
{% block title %} {% endblock %}
{% block content %}

<div class="container">
    <h1 align="center" style="font-weight: bold">Edit Profile</h1>
</div>
<form method="POST" action="/halaman-profile/submit" style="margin-top: 20px; margin-left:20px;">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="formEdit">
                <div class="col-sm-1"></div>
                <div class="col-sm-6    ">
                    <input type="hidden" name="id" value="1">
                    <h4 style="margin-top: 15px;font-weight: bolder;font-family: Helvetica">Name:</h4>
                    <input type="text" name="name" value="Hepzibah Smith" size="30">
                    <h4 style="margin-top: 15px;font-weight: bolder;font-family: Helvetica">Birthday:</h4>
                    <input type="date" name="birthday" value="01 Feb" size="20">
                    <h4 style="margin-top: 15px;font-weight: bolder;font-family: Helvetica">Gender:</h4>
                    <input type="radio" name="gender" value="Male" checked>Male
                    <input type="radio" name="gender" value="Female" >Female        
                    <h4 style="margin-top: 15px;font-weight: bolder;font-family: Helvetica">Email:</h4>
                    <input type="email" name="email" value="hello@world.com" size="30">
                    <h4 style="margin-top: 15px;font-weight: bolder;font-family: Helvetica">Expertise:</h4>
                    <input type="text" name="expertise" value="otomotif, berenang, fotografi" size="50">
                </div>
                <div class="col-sm-3" style="margin-top: 15px">
                    <h4 style="margin-top: 10px;font-weight: bolder;font-family: Helvetica">Description:</h4>
                    <textarea type="paragraph_text" name="description" cols="50" rows="10">saya kuliah di Fasilkom Universitas Indonesia</textarea>
                    
                    <button type="submit" class="btn btn-primary float" id="button" style="margin-top: 20px;background-color: blue;font-weight: bold;font-family: Helvetica;margin: 0 auto;width: 30%;height: 30%;">Submit</button>
                    <a class="btn btn-primary float" style="margin-top: 20px; margin-left: 10px;background-color: blue;font-weight: bold;font-family: Helvetica;margin: 0 auto;width: 30%;height: 30%;" id="button" href="/halaman-profile/">Cancel</a>    
                    
                </div>
            </div>    
        </div>
    </div>
</form>
{% endblock %}
