{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/halaman_profile.css' %}">
<img src="http://images.clipartpanda.com/smile-clipart-aTqBqMBTM.jpeg" style="border-radius: 50%; display: block; margin: 0 auto" width="200px" height="200px">
<div>
	<h1 align="center" style="font-weight: bold; font-family: Open Sans">{{ default.name }}</h1>
</div>
<p align="center" style="font-weight: bold; font-family: Helvetica; font-size: 20px; ">"{{ default.description }}"</p>
<div>
	<a href="/halaman-profile/edit_profile"><i class="fa fa-cog" aria-hidden="true"></i>

	<style type="text/css">
    .btn {
        background-color:white;
        font-family: Helvetica;font-size: 15px;font-weight: bold;
        cursor:pointer;

    }
    .button {

            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

    }
	</style>
		<button class="btn" style="background-color: : transparent;display: flex;align-items: center;justify-content: center;margin: 0 auto;width: 10%;height: 10%;border: 1px ;">Edit</button>
	</a>
</div>
<hr/>
<section name="bio">
    <div class="row" style="margin-top: 15px; font-family: Helvetica">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2" style=""><b>Birthday</b></h5>
        <h5 class="col-sm-5">{{ default.birthday }}</h5>
    </div>
    <div class="row" style="font-family: Helvetica">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Gender</b></h5>
        <h5 class="col-sm-5">{{ default.gender }}</h5>
    </div>
    <div class="row" style="font-family: Helvetica">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Expertise</b></h5>
        <h5 class="col-sm-5">
            {% for i in expertise %}
            <span class="badge" style="background-color: navy; border-spacing: 30px;">{{ i }}</span>
            {% endfor %}    
        </h5>
    </div>
    <div class="row" style="font-family: Helvetica">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Email</b></h5>
        <h5 class="col-sm-5">{{ default.email }}</h5>
    </div>
</section>
<br>
<br>
{% endblock %}
