{% extends "layout/base.html" %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard_tema1.css' %}" id="Dashboard_tema" />
<section id="statistic">
	<div class="container" align="center">
		<div>
			<h3><b>Statistic</b></h3>
			<div  id="group-button">
				<p><b>Feed:</b>  {{feed}} Post</p>
				<button class="button button1" id="button1">Theme 1</button>
				<button class="button button2" id="button2">Theme 2</button>
			</div>
			<div style="margin-top: -30px; margin-bottom: 100px;">
			<img id="coffee-icon" src="{%static 'coffee icon.png' %}">
			<p><b>Statistic:</b> {{friends}} People</p>
			</div>
		</div>
		
	</div>
</section>
<section name="latest_post" id="latest_post">
	<div class="container" align="center">
		<h4><b>Latest Post:</b></h4>
		{% if latest_post %}
			<div>
				<div class="show-status">
					<div class="profile">
						<h4>
						<img  id="icon" src="{%static 'icon.png' %}">
						<b>Zain Ilham</b>
						</h4>
					</div>
					<div class="status-content">
						{{latest_post.status}}
					</div>
					<div class="status-date-added">
						{{latest_post.created_date}}
					</div>
				</div>
			</div>
		{% else %}
			<div>
				<strong>No status to show yet.</strong>
			</div>
		{% endif %}
	</div>
</section>
<script type="application/javascript">
	document.getElementById('button1').onclick = function () { 
    	document.getElementById('Dashboard_tema').href = "{% static 'css/Dashboard_tema1.css' %}";
	};
	document.getElementById('button2').onclick = function () { 
		document.getElementById('Dashboard_tema').href = "{% static 'css/Dashboard_tema2.css' %}";
	};
</script>

{% endblock %}