body{
	margin-top: 70px;
}

.navbar-static-top{
	margin-bottom:19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
textarea {
    resize:none;
    width: 100%;
}
/* styling form */

#input-friend{
  text-align: left;
  background: linear-gradient(to bottom left, #DB12A9, #782d9b);
}
#friend-list{
  background: linear-gradient(to top left,#DB12A9 , #782d9b);
}
#input-friend form{
  width: 100%;
  padding: 20px 30px;
}

.name_input_form_text_area {
  width: 100%;
} 

.add-name{
  font-size: 20px;
  padding-right: 200px;
  text-align: left;
}
.add-url{
  font-size: 20px;
  padding-right: 200px;
  text-align: justify;
}
.add-date{
  font-size: 20px;
  margin: 20px auto;
  text-align: right;
}
footer p{
  text-align: center;
  padding-top: 10px;
}