body{
	margin-top: 70px;
}

textarea {
    resize:none;
    width: 400px;
}
/* styling form */
#input-friend{
  text-align: center;
  background: linear-gradient(to bottom left, pink, white);
}
button{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 20%;
  border-radius: 3px;
  background-color: #BEB7B7;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 30px;
  font-weight: bold;
}
button:hover {
  background-color: #B382BE;
  color: white;
}
.title-form{
  font-weight: bold;
  text-shadow: 0px 0px 2px #CA9CD5;
}
#friend-list{
  background: linear-gradient(to top left, pink, white);
}
#input-friend form{
  padding: 20px 30px;
}
table{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid gray;
}

tr:hover{background-color: #D8AEE3}
.name_input_form_text_area{
  width: 95%;
  margin: 8px 0;
  border-radius: 3px;
  padding: 12px 20px;
}
.url_input_form_text_area{
  width: 95%;
  border-radius: 3px;
  padding: 12px 20px;
}

.add-name{
  font-size: 20px;
  padding-left: 34px;
  padding-right: 158px;
  text-align: left;
  word-wrap: break-word;
}
.add-url{
  font-size: 20px;
  padding-right: 158px;
  text-align: justify;
  word-wrap: break-word;
}
.add-date{
  font-size: 20px;
  margin: 20px auto;
  text-align: right;
  word-wrap: break-word;
  padding-right: 35px;
}
.title-list{
  padding-left: 34px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #CA9CD5;

}
@media only screen and (max-width: 768px) {
  #input-friend form {
      width: 325px;
      padding: 20px 20px;
      padding-left: 0px;
      padding-right: 0px;
  }
  #input-friend button {
    width: 20%;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  #friend-list table{
    width: 325px;
    padding-right: 0px;
    padding-left: 0px;
  }
  #friend-list .title-list{
    padding-left: 65px;
    margin-bottom: 0px;
    text-align: justify
  }
  .add-name{
    font-size: 10px;
    padding-left: 0px;
    padding-right: 5px;
    text-align: left;
    word-wrap: break-word;
    font-weight: bold;
  }
  .add-url{
    font-size: 10px;
    padding-right: 5px;
    padding-left: 0px;
    text-align: justify;
    word-wrap: break-word;
  }
  .add-date{
    font-size: 10px;
    padding-right: 10px;
    text-align: justify;
    word-wrap: break-word;
    font-weight: bold;
  }
}
}