body{
	margin-top: 70px;
}

.navbar-static-top{
	margin-bottom:19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
textarea {
    resize:none;
    width: 400px;
}
/* styling form */
#input-friend{
  text-align: center;
  background: linear-gradient(to bottom left, #FFFF00, white);
}
button{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 20%;
  border-radius: 3px;
  background-color: #BEB7B7;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 30px;
}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
#friend-list{
  background: linear-gradient(to top left,#FFFF00 , white);
}
#input-friend form{
  padding: 20px 30px;
}
.name_input_form_text_area{
  width: 95%;
  margin: 8px 0;
  border-radius: 3px;
  padding: 12px 20px;
}
.url_input_form_text_area{
  width: 95%;
  border-radius: 3px;
  padding: 12px 20px;
}
.add-name{
  font-size: 20px;
  padding-left: 8px 0;
  padding-right: 200px;
  text-align: left;
}
.add-url{
  font-size: 20px;
  padding-right: 200px;
  text-align: justify;
}
.add-date{
  font-size: 20px;
  margin: 20px auto;
  text-align: right;
}
footer p{
  text-align: center;
  padding-top: 10px;
}