body{
    background-color: #607D8B;
    color: black;
    font-family: 'Bree Serif', serif;
}

#coffee-icon{
    border-radius: 50%;
    margin-top: -15px;
    margin-bottom: 30px;
    width: 10%;
    height: 10%;
    background-color: black;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 140px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #42A5F5; 
    color: white; 
    border: 1px solid white;
}

.button1:hover {
    background-color: white;
    color: black;
}

.button1:active {
  background-color: #42A5F6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.button2 {
    background-color: #607D8B; 
    color: black; 
    border: 1px solid white;
    opacity: 0.6;
    cursor: not-allowed;
}

.status-content{
    background-color: #607D8B;
    color: black;
}