.navbar-static-top {
  margin-bottom: 19px;
}

.img-circle {
 width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-static-top {
  margin-bottom: 19px;
}

body{
	background-color: aqua;
}

tr {
    font-family: Helvetica ,Arial, sansserif;
    font-weight: bold;
}


.img-circle {
 width: 90px;
    height: 90px;
    border-radius: 50%;
}

