.navbar-static-top{
	margin-bottom:19px;
}

header nav{
	background-color: #6F4E37;
	font-weight: bold;
}

.navbar-header a:hover{
	background-color: white;
	color: black;
}

.nav a:hover{
	background-color: white;
	color: black;
}
.navbar a{
    color: white;
}

.navbar-nav a{
	border-right: 1px solid white;
}


footer p{
  text-align: center;
  padding-top: 10px;
}