body{
  margin-top: 70px;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 200px;
}

#input-update-status form{
  margin: 10px auto;
  position: relative;
  z-index: 1;
  background: #008FFF;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 35px 40px;
  box-sizing: border-box;

}
#input-update-status form > h1{
  color: #2C3E50;
  margin-top: -5px;
  margin-bottom: 20px;
}
#post{
  background-color: #FFD398;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 10px;
  width: 90px;
  height: 40px;
  margin-bottom: 20px;
}

.flex-item{
  flex-direction: column-reverse;
  flex: 0 0 auto;
}
.status-content{
  margin-top: 20;
  background: #fff;
  position: relative;
  z-index: 15;
  font-size: 130%;
}
.status-date-added{
  opacity: 0.5;
  font-size: 80%;
  margin-bottom: 60px;
}

footer p{
  text-align: center;
  padding-top: 10px;
}