{% extends "layout/base.html" %}

{% block content %}
{% load staticfiles %}
<section name="input-update-status" id="input-update-status">
	<div class="container" align="center">
		<form id="form", method="POST", action="{% url 'update-status:add_status' %}">
			<h1><b>Update Status</b></h1>
			{% csrf_token %}
			{{ update_status_form }}
			<input id="post", type="submit", class="btn btn-default", value="Post", style="float:right">
			<br>
		</form>
	</div>
</section>
<section name="all-status" id="all-status">
	<div class="container" align="center">
		<div class="flex">
			{% if status %} 			
				{% for data in status reversed %}
					<div>
						<div class="show-status" align="left">
							<div class="profile">
								<h4>
								<img id="icon" src="{%static 'icon.png' %}">
								<b>Zain Ilham</b>
								</h4>
							</div>
							<div class="status-content">
								<pre>{{data.status|linebreaksbr}}</pre>
							</div>
							<div class="status-date-added">
								{{data.created_date}}
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
			<div class="alert alert-danger text-center">
				<strong>No status added.</strong> Add your status now!
			</div>
			{% endif %}
		</div>
	</div>
</section>


{% endblock %}											 				